UniversityAPI/.vs/UniversityAPI/DesignTimeBuild/.dtbcache.v2
UniversityAPI/.vs/UniversityAPI/v17/.suo
UniversityAPI/UniversityAPI/obj/staticwebassets.pack.sentinel
UniversityAPI/.vs/UniversityAPI/FileContentIndex/ab86ac26-f923-493f-afa0-101edd442dab.vsidx
