<div><button type="button" class="btn btn-success" (click)="createNew()" routerLink="/departmentReg">Create New</button></div>



<table class="table table-hover">
    <thead>
        <tr class="table-warning"  >
            <th scope="col">Department ID</th>
            <th scope="col">Department Name</th>
            <th scope="col">Contact Number</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody class="table-group-divider" >
        <tr *ngFor="let d of objs.depList">
            <td class="align-middle">{{d.DepartmentId}}</td> 
            <td class="align-middle">{{d.DepartmentName}}</td>
            <td class="align-middle">{{d.ContactNumber}}</td>
            <td>
                <button type="button" class="btn btn-outline-primary" id="viewDepartment" routerLink="/departmentReg" (click)="fillForm(d)">Edit</button>
            </td>
            <td>
                <button type="button" class="btn btn-outline-danger" id="viewDepartment" (click)="onDelete(d.DepartmentId)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
