<div><button type="button" (click)="createNew()" routerLink="/branchReg">Create New</button></div>

<table class="table table-hover">
  <thead>
      <tr>
          <th scope="col">BranchID</th>
          <th scope="col">Branch Name</th>
          <th scope="col">Department Name</th>
          <th scope="col">Update</th>
          <th scope="col">Delete</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let b of objs.branchWithDepList; let i=index">
          <td>{{b.BranchId}}</td> 
          <td>{{b.BranchName}}</td>
          <td >{{b.DepartmentName}}</td>
          <td>
              <button type="button" id="EditBranch" (click)="fillForm(objs.branchList[i])" routerLink="/branchReg">Edit</button>
          </td>
          <td>
              <button type="button" id="DeleteBranch" (click)="onDelete(b.BranchId)">Delete</button>
          </td>
      </tr>
  </tbody>
</table>
