<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Faculty ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Gender</th>
            <th scope="col">Contact Number</th>
            <th scope="col">Email</th>
            <th scope="col">Department Name</th>
            <th scope="col">Course Name</th>
            <th scope="col">View</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let f of objs.FacultyAddOnList">
            <td>{{f.FacultyId}}</td> 
            <td>{{f.FirstName}}</td>
            <td >{{f.LastName}}</td>
            <td>{{f.Gender}}</td> 
            <td>{{f.ContactNumber}}</td>
            <td>{{f.Email}}</td>
            <td >{{f.DepartmentName}}</td>
            <td >{{f.CourseName}}</td>
            <td>
                <button type="button" id="viewCourse">View</button>
            </td>
            <td>
                <button type="button" id="EditCourse">Edit</button>
            </td>
            <td>
                <button type="button" id="DeleteCourse">Delete</button>
            </td>
        </tr>
    </tbody>
  </table>
  