<div class="container dashboard">
    <div class="row row-1">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Departments
                </div>
                <div class="card-body">
                    <h5 class="card-title">2</h5>
                    <p class="card-text">Number of Departments
                    <p>
                        <a href="#" class="btn btn-primary">Go</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Branch
                </div>
                <div class="card-body">
                    <h5 class="card-title">5</h5>
                    <p class="card-text">Number of Branches</p>
                    <a href="#" class="btn btn-primary">Go</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Courses
                </div>
                <div class="card-body">
                    <h5 class="card-title">10</h5>
                    <p class="card-text">Number of Courses
                    <p>
                        <a href="#" class="btn btn-primary">Go</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-2">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Student
                </div>
                <div class="card-body">
                    <h5 class="card-title">100</h5>
                    <p class="card-text">Number of Student</p>
                    <a href="#" class="btn btn-primary">Go</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Faculty
                </div>
                <div class="card-body">
                    <h5 class="card-title">10</h5>
                    <p class="card-text">Number of Faculties.</p>
                    <a href="#" class="btn btn-primary">Go</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col">
        <div class="container notification">

            <h1> Notifications </h1>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Type</th>
                        <th scope="col">Notification</th>
                        <th scope="col">Sender</th>
                        <th scope="col">Link</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Student</th>
                        <td>All Students are tested Covid-Positive!</td>
                        <td>Dr. Ramadhir (Doctor)</td>
                        <td>Link</td>
                    </tr>
                    <tr>
                        <th scope="row">Holiday</th>
                        <td>Rakshabandhan</td>
                        <td>Dr. Amit Kumar (Vice Chancellor)</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">Warning</th>
                        <td>100 Student are Jobless!</td>
                        <td>Dr. Kumar Rahuk (Training Placement Officer)</td>
                        <td>pdfLink</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col">
        <div class="container Announcement">

            <h1> Announcement </h1>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Date</th>
                        <th scope="col">Location</th>
                        <th scope="col">Link</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Semester Examination</th>
                        <td>12 Aug 2023</td>
                        <td>Campus 1</td>
                        <td>Link</td>
                    </tr>
                    <tr>
                        <th scope="row">Holiday</th>
                        <td>31 Aug 2023</td>
                        <td>University</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">Open Mic</th>
                        <td>5 Sep 2023
                        <td>
                        <td>Campus BH2
                        <td>
                        <td>pdfLink</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
