<form class="login_form">
   <!-- Email input -->
   <div class="form-outline mb-4">
     <input type="username" id="username1" class="form-control" />
     <label class="form-label" for="form2Example1">Username</label>
   </div>
 
   <!-- Password input -->
   <div class="form-outline mb-4">
     <input type="password" id="password1" class="form-control" />
     <label class="form-label" for="form2Example2">Password</label>
   </div>
 
 
   <!-- Submit button -->
   <button type="button" class="btn btn-primary btn-block mb-4" (click)=navigateToLink()>Sign in</button>
 </form>