<div class="login-page">
    <div class="form">
        <form class="login-form">
            <input type="text" placeholder="user ID" id="userID" />
            <input type="password" placeholder="password" id="password" />
            <div class="select"> <select type="userType" placeholder="userType" id="userType">
                    <option value="">Select User Type</option>
                    <option value="Admin">Admin</option>
                    <option value="Student">Student</option>
                    <option value="Faculty">Faculty</option>
                </select></div>

            <button (click)="Authentication()">login</button>
        </form>
    </div>
</div>