<table class="table table-hover">
    <thead class="table-warning">
        <tr>
            <th scope="col">Student ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Gender</th>
            <th scope="col">Contact Number</th>
            <th scope="col">Email</th>
            <th scope="col">Date of Birth</th>
            <th scope="col">Department Name</th>
            <th scope="col">Branch Name</th>
            <th scope="col">Enrollment Date</th>
            <th scope="col">Address</th>
            <th scope="col">Semester</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        <tr *ngFor="let s of stdService.StudentAddOnList; let i=index">
            <td>{{s.StudentId}}</td> 
            <td>{{s.FirstName}}</td>
            <td >{{s.LastName}}</td>
            <td>{{s.Gender}}</td> 
            <td>{{s.ContactNumber}}</td>
            <td>{{s.Email}}</td>
            <td>{{s.DateOfBirth}}</td>
            <td >{{s.DepartmentName}}</td>
            <td >{{s.BranchName}}</td>
            <td >{{s.EnrollmentDate}}</td>
            <td >{{s.Saddress}}</td>
            <td >{{s.Semester}}</td>
        </tr>
    </tbody>
  </table>
  