<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">

    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fa fa-user-circle-o" aria-hidden="true" [class.green-icon]="DepartmentId.valid"
                        [class.red-icon]="DepartmentId.invalid && DepartmentId.touched"></i>
                    <input name="DepartmentId" #DepartmentId="ngModel" [(ngModel)]="objService.depData.DepartmentId"
                        placeholder="Department Id" class="form-control"required>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fa fa-user-circle-o" aria-hidden="true" [class.green-icon]="DepartmentName.valid"
                        [class.red-icon]="DepartmentName.invalid && DepartmentName.touched"></i>
                    <input name="DepartmentName" #DepartmentName="ngModel" [(ngModel)]="objService.depData.DepartmentName"
                        placeholder="Department Name" class="form-control" required>
                </div>
            </div>
        </div>
    </div>


    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fa fa-diamond" aria-hidden="true" [class.green-icon]="ContactNumber.valid"
                        [class.red-icon]="ContactNumber.invalid && ContactNumber.touched"></i>
                    <input name="ContactNumber" #ContactNumber="ngModel" [(ngModel)]="objService.depData.ContactNumber"
                        placeholder="ContactNumber" class="form-control" required maxlength="10" minlength="10">
                </div>
            </div>
        </div>
    </div>


    <div class="form-group">
        <button class="btn btn-success btn-lg" type="submit" [disabled]="form.invalid">
            <i class="fa fa-database"></i> Create/Update Department </button>
    </div>

    
</form>